/* on fait du mobile first */
html, body {
    width: 100%;
    height: 100%;
}

#container {
    height: 100%;
}

#row1 {
    height: 80%;
}

#row2 {
    height: 20%;
}

/*on stylise notre div main*/
#main {
    border: 1px solid red;
    z-index: 0;
}

/*on stylise notre aside*/
#side {
    border: 1px solid green;
    display: none;
}

/*on stylise notre lecteur*/
#playerSection {
    border: 1px solid blue;
}

/*on stylise le bouton qui permet de faire appraître le aside en vue mobile*/
#spanAppearBtn {
    z-index: 1;
    display: block;
    position: fixed;
    left: 0px;
    top: 10%;
}

button:hover {
    cursor: pointer;
}

/*on stylise l'animation d'aside*/
@keyframes appear { 
    from { margin-left:-20%; } 
    to { margin-left:0%; }  
}

.animationAppear {
    animation-name: appear;
    animation-duration:0.5s;
    animation-iteration-count: 1;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
}


/*quand l'écran dépasse les proportions mobile*/
@media only screen and (min-width: 768px) {
    #side {
        display: block;
    }

    #spanAppearBtn {
        display: none;
    }
}

.volume {
    width: 100px;
    height: 20px;
}

.volume:hover {
    cursor: pointer;
}

#progressBarControl:hover {
    cursor: pointer;
}