/* we do mobile first here okay? */
html, body {
    width: 100%;
    height: 100%;
}

/* get font */
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:300,400,600,700');

* {
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
    color: #a5a5a5;
    text-shadow: rgba(0,0,0,.01) 0 0 1px;
}

h3 {
    color: #845EC2;
}

li {
    list-style: none;
}

/* background */
.background_image {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
}

/* links */
a, .sideButton, .roundBtn {
    padding: 1em 1em;
	color: white;
	cursor: pointer;
	outline: none;
	border-radius: 100px;
    border: 2px solid transparent;
	background: linear-gradient(#000, #000) padding-box, radial-gradient(farthest-corner, #00C9A7, #845EC2) border-box;
    transition: all 200ms ease;
}

a, a:hover, a:active, .sideButton, .sideButton:hover, .sideButton:active, .roundBtn, .roundBtn:hover, .roundBtn:active {
	text-decoration: none;
    text-shadow: rgba(0,0,0,.01) 0 0 1px;
    transition: all 200ms ease;
}

a:active, .sideButton:active, .roundBtn:active {
	background: linear-gradient(#00C9A7, #845EC2) padding-box, radial-gradient(farthest-corner, #00C9A7, #845EC2) border-box;
    transition: all 200ms ease;
}

a:hover, .sideButton:hover, .roundBtn:hover {
    color: #845EC2;
    transition: all 200ms ease;
}

/* form */
input {
	color: white;
	cursor: pointer;
	border-radius: 5%;
    border: 2px solid transparent;
	background: linear-gradient(#000, #000) padding-box, radial-gradient(farthest-corner, #00C9A7, #845EC2) border-box;
    transition: all 200ms ease;
}

#search {
    cursor: text;
}

#appearBtn {
	color: white;
	cursor: pointer;
	border-radius: 50%;
    border: 2px solid transparent;
	background: linear-gradient(#000, #000) padding-box, radial-gradient(farthest-corner, #00C9A7, #845EC2) border-box;
    transition: all 200ms ease;
}

#searchBtn:active, #appearBtn:active {
	background: linear-gradient(#00C9A7, #845EC2) padding-box, radial-gradient(farthest-corner, #00C9A7, #845EC2) border-box;
    transition: all 200ms ease;
}

#searchBtn:hover, #appearBtn:hover {
    color: #845EC2;
    transition: all 200ms ease;
}

/*player buttons*/
.control, .squareBtn {
	background: linear-gradient(#000, #000) padding-box, radial-gradient(farthest-corner, #00C9A7, #845EC2) border-box;
	border: solid 1px transparent;
	border-radius: 10%;
    cursor: pointer;
    transition: all 200ms ease;
}

#coverNext, #coverPrev {
	background: linear-gradient(#000, #000) padding-box, radial-gradient(farthest-corner, #00C9A7, #845EC2) border-box;
	border: solid 2px transparent;
    cursor: pointer;
    transition: all 200ms ease;
}

#coverNext:hover, #coverPrev:hover {
    opacity: 0.8;
    transition: all 200ms ease;
}

.control:active, .squareBtn:active {
	background: linear-gradient(#00C9A7, #845EC2) padding-box, radial-gradient(farthest-corner, #00C9A7, #845EC2) border-box;
    transition: all 200ms ease;
}

.control:hover, .squareBtn:hover {
    color: #845EC2;
    transition: all 200ms ease;
}

/*style our divs*/
#container {
    height: 100%;
}

#row1 {
    height: 75%;
}

#row2 {
    height: 20%;
    margin-bottom: 2vw;
}

#main {
    z-index: 0;
}

/*style our aside*/
#disconnectBtn {
    position: absolute;
    bottom: 5%;
    left: 5%;
}

/*style our player*/
/* #playerSection {

} */

#playerTitleArtist {
    justify-content: space-around;
}

/*style our prev and next preview*/
#previewPrev, #previewNext {
    justify-content: space-evenly;
}

/*on stylise le bouton qui permet de faire apparaître le aside en vue mobile*/
#spanAppearBtn {
    z-index: 1;
    /* display: block; */
    position: fixed;
    left: 0px;
    top: 20%;
}

button:hover {
    cursor: pointer;
}

/*on stylise l'animation d'aside*/
@keyframes appear { 
    from { margin-left:-20%; } 
    to { margin-left:0%; }  
}

.animationAppear {
    animation-name: appear;
    animation-duration:0.5s;
    animation-iteration-count: 1;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
}

#tabs {
    justify-content: space-around;
}

.volume {
    width: 100px;
    height: 20px;
}

.volume:hover {
    cursor: pointer;
}

#progressBarControl:hover {
    cursor: pointer;
}

.avatarInput {
    background-color: #000;
    border: 1px solid #000;
    border-radius: 4px;
}

.blackBtn {
    background-color: #000;
    color: #fff; 
}

.name {
    color: #845EC2;
}

.avatar {
    height: 5vw;
    width: auto;
    border-radius: 5%;
}

.coverContainer {
    height: 20vw;
    width: auto;
}
    
#side {

    /* border-right: 1px solid;
    border-bottom: 1px solid;
    border-image-source: linear-gradient(45deg, #5a80b9, #845EC2); */
    border-image-slice: 1;
    margin-bottom: 1vw;
}

.cover {
    margin-top: 2vw;
}

#albumImg {
    margin-top: 12vw;
    margin-bottom: 5vw;
    transform: scale(1.5);
}

#addPlaylistBtn {
    margin-top: 1vw;
}

/* #tracklist {
    margin-top: 1vw;
    margin-bottom: 5vw;
} */

.albumSong {
    padding-top: 0.3vw;
    padding-bottom: 0.3vw;
    cursor: pointer;
    border-radius: 0%;
}

.displayList {
    background-color:rgba(0, 0, 0, 0.6);
    border-top: 1px groove;
    border-bottom: 1px groove;
    border-image-source: linear-gradient(45deg, #5a80b9, #845EC2);
    border-image-slice: 1;
    padding: 0.3vw 0.5vw 0.3vw 0.5vw;
    box-shadow:0 0 5px rgba(0, 0, 0, 0.7);
}

/* search results */
.list-inline-item{
    color: white;
}

.list-inline-item:hover {
    cursor: pointer;
    color: #845EC2;
}

.squareBtn {
    border-radius: 0px;
}

.cardText {
    background-color:rgba(0, 0, 0, 0.6);
    border-top: 2px groove;
    border-bottom: 2px groove;
    border-image-source: linear-gradient(45deg, #5a80b9, #845EC2);
    border-image-slice: 1;
    box-shadow:0 0 5px rgba(0, 0, 0, 0.7);
}