/* we do mobile first here okay? */
html, body {
    width: 100%;
    height: 100%;
}

* {
    box-sizing: border-box;
}

#container {
    height: 100%;
}

#row1 {
    height: 80%;
}

#row2 {
    height: 20%;
}

/*style our main div*/
#main {
    border: 1px solid red;
    z-index: 0;
}

/*style our aside*/
#side {
    border: 1px solid green;
    /* display: none; */
}

/*style our player*/
#playerSection {
    border: 1px solid blue;
}

#playerTitleArtist {
    justify-content: space-around;
}

/*style our prev and next preview*/
#previewPrev, #previewNext {
    justify-content: space-evenly;
}

/*on stylise le bouton qui permet de faire appraître le aside en vue mobile*/
#spanAppearBtn {
    z-index: 1;
    /* display: block; */
    position: fixed;
    left: 0px;
    top: 10%;
}

button:hover {
    cursor: pointer;
}

/*on stylise l'animation d'aside*/
@keyframes appear { 
    from { margin-left:-20%; } 
    to { margin-left:0%; }  
}

.animationAppear {
    animation-name: appear;
    animation-duration:0.5s;
    animation-iteration-count: 1;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
}

#tabs {
    justify-content: space-around;
}

.volume {
    width: 100px;
    height: 20px;
}

.volume:hover {
    cursor: pointer;
}

#progressBarControl:hover {
    cursor: pointer;
}